<template>
    <require from="./register.css"></require>
    <div class="jumbotron">
            <h1 class="text-center">register</h1>
        </div>
        <p class="errors">${error}</p>
        <form role="form" submit.delegate="RegisterUser()">
            
            <label for="firstname">firstname</label>
                <input type="text" value.bind="firstname" placeholder="firstname">

                <label for="lastname">lastname</label>
            <input type="text" value.bind="lastname" placeholder="lastname">

            <label for="email">Email</label>
            <input type="text" value.bind="email" placeholder="Email">
    
            <label for="password">Password</label>
            <input type="password" value.bind="password" placeholder="Password">
            <label for="confirm">Confirm Password</label>
            <input type="password" value.bind="confirm" placeholder="Confirm"><br>
    
            <button type="submit">Signup</button>
        </form>
    </template>